body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
}

/* HEADER */
header {
    background-color: #1a1a1a;
    padding: 20px;
    border-bottom: 2px solid orange;
}

header h1 {
    margin: 0;
    color: orange;
}

.logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}


/* NAV */
nav {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

nav h3 {
    margin-left: auto;
    color: orange;
}

/* PRODUTOS */
.produto {
    background-color: #1a1a1a;
    border: 1px solid orange;
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
}

.produto:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px orange;
}

.img-produto{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.produto p {
    color: #ffb347;
}

/* BOTÕES */
button {
    background-color: orange;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ff8c00;
}

/* QUANTIDADE */
span {
    margin: 0 10px;
    font-size: 18px;
}

/* FOOTER */
footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 15px;
    border-top: 2px solid orange;
    margin-top: auto;
}